<footer>
  <div>&copy; 2023 <span>watch out</span> all right reserved</div>
  <div class="social-icon">
    <a href="https://github.com/mohammed78787" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a
      href="https://www.facebook.com/profile.php?id=100071030894825"
      target="_blank"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/mohammed-azzam-8a78ba23b/"
      target="_blank"
      ><i class="fa-brands fa-linkedin-in"></i
    ></a>
  </div>
</footer>
