<div class="container">
  <div class="img">
    <img
      src="https://www.impactbnd.com/hubfs/customized-ecommerce.jpg"
      alt=""
    />
  </div>
  <section class="main">
    <div>
      <h2>we are <br /><span>fancy</span></h2>
      <h3>
        singular moment. An idea set free by a sudden spark of imagination.
        Extraordinary forms take shape in a universe free from the constraints
        of convention. VANNA’s avant-garde approach to design was born of the
        cosmos. Minimal, sophisticated, luxe. All hewn from authentic materials
        with every detail carefully considered
      </h3>
    </div>
  </section>
</div>
