<div class="contact" id="contact">
  <div class="container">
    <div class="box">
      <div class="form">
        <form action="">
          <input
            type="text"
            name="name"
            class="main-input"
            placeholder="your name"
          />
          <input
            type="email"
            name="email"
            class="main-input"
            placeholder="your email"
          />
          <textarea
            name="message"
            class="main-input"
            placeholder="your message"
          ></textarea>
          <input type="submit" value="send message" />
        </form>
      </div>
      <div class="info">
        <div class="inf1">
          <h4>get in touch</h4>
          <p>01155030199</p>
          <p>01155030199</p>
        </div>
        <div class="inf2">
          <h4>where we are</h4>
          <address>
            awesome address 17<br />
            elgharbia, Tanta <br />6620010 <br />
            Egypt
          </address>
        </div>
      </div>
    </div>
  </div>
</div>
